extends layout

block content
  .temp-display
    .temp-dis Current:
    #temp.temp #{temp}
  #placeholder
  .edit
    form(name="edit", action="/", method="post")
      input(type="submit", name="edit", value="Clear")
      input(type="submit", name="edit", value="Save")
