doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand", href="/") TempController
    section#main
      .container
        block content
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.flot.min.js')
    script(src='/javascripts/jquery.flot.time.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/site.js')
