@font-face {
  font-family: 'DSDIGI';
  src: url("../fonts/DSDIGI.eot");
  src: local('DSDIGI'), url("../fonts/DSDIGI.woff") format('woff'), url("../fonts/DSDIGI.ttf") format('truetype');
}
body {
  padding-top: 60px;
}
#placeholder {
  width: 1000px;
  height: 600px;
}
.temp-display {
  background-color: #a5b5a5;
  margin-left: 1.3em;
  margin-bottom: 1.3em;
  padding: 0.2em;
  border: 2px solid #333;
  height: 6em;
}
.temp-dis {
  text-align: center;
  font-family: 'DSDIGI';
}
.temp {
  font-family: 'DSDIGI';
  font-size: 4em;
  text-align: center;
  line-height: 1em;
}
.loading {
  border: 1px solid #000;
  height: 100%;
}
.loader {
  position: absolute;
  display: block;
  left: 50%;
  width: 200px;
  height: 6px;
  margin-left: -200px;
  margin-top: 294px;
}
.loader:before {
  content: "";
  display: block;
  width: 10%;
  height: 100%;
  background-color: #a5b5a5;
  animation: loader 6s ease 0s infinite;
}
@keyframes loader {
  0% {
    margin: 0 99% 0 0;
    width: 1%;
  }

  25% {
    margin: 0;
    width: 100%;
  }

  50% {
    margin: 0 0 0 99%;
    width: 1%;
  }

  75% {
    margin: 0;
    width: 100%;
  }

  100% {
    margin: 0 99% 0 0;
    width: 1%;
  }
}
